.App {
  padding: 5px;
  text-align: center;
}

.header {
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-around;
}

.table {
  background-color: whitesmoke;
  border: 1px solid black;
}
